<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhatIsMyIp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <WhatIsMyIp.Properties.Settings>
            <setting name="SmtpClientUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceHost" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentExternalIp" serializeAs="String">
                <value />
            </setting>
            <setting name="WatchInterval" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="ServiceFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModulesIISEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </WhatIsMyIp.Properties.Settings>
    </userSettings>
</configuration>